/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Adds background to the entire page under header */
main {
    background-color: #d9dcd6;
}

/* Defines the header and link names */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Defines size for page title */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Defines all title elements in the bottom boxes */
h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Defines title elements for right column */
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}

/* Defines footer */
h4 {
    font-size: 20px;
}

/* Changes the "seo" color in the title */
.seo {
    color: #d9dcd6;
}

/* Defines the link styles at the top */
header nav {
    padding-top: 26px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: bold;
    
}

/* Defines list type of header links */
.header nav ul {
    list-style-type: none;
    
}

/* Defines each individual link */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Defines the color and decoration on the href links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Defines the style of the marketing meeting picture */
.marketing-meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Defines the elements in each box */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}

/* Defines the style inside each of the section boxes */
.main-section {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Defines the picture elements for box 1 and 3 */
.section-1 {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/* Defines the picture elements for box 2 */
.section-2 {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

/* Defines the style for the column on the right */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* Defines the style on each of the pictures in the right column */
.side-pic{
    display: block;
    margin: 5px auto;
    max-width: 150px;
}

/* Defines the style on the text in each of the main-sections */
.inline-writing{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Defines the style on the text in the right column */
.inline-writing-1{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

/* Defines the style on the footer */
footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

